/**
 * Core styles
 */

.core {
  padding: 3rem 0;
}

.core ul {
  list-style: none;
  overflow: hidden;
  margin: 0 -1.5rem;
}

.core li {
  float: left;
  width: 100%;
  padding: 3rem 1.5rem;
}

/*@media (--small-viewport) {
  .core li {
    width: 50%;
  }
}

@media (--wide-viewport) {
  .core li {
    width: 33.333%;
  }
}
*/
