/**
 * Core styles
 */

@import '../shared/styles/base.css';

.root {
  padding: 3rem 0;
}

.root ul {
  list-style: none;
  overflow: hidden;
  margin: 0 -1.5rem;
}

.root li {
  float: left;
  width: 100%;
  padding: 3rem 1.5rem;
}

@media (--small-viewport) {
  .root li {
    width: 50%;
  }
}

@media (--wide-viewport) {
  .root li {
    width: 33.333%;
  }
}
