/**
 * Core styles
 */

@import '../../styles/base';

.Core {
  padding: 3rem 0;
}

.Core ul {
  list-style: none;
  overflow: hidden;
  margin: 0 -1.5rem;
}

.Core li {
  float: left;
  width: 100%;
  padding: 3rem 1.5rem;
}

@media (--small-viewport) {
  .Core li {
    width: 50%;
  }
}

@media (--wide-viewport) {
  .Core li {
    width: 33.333%;
  }
}
