/**
 * Split screen styles
 */

@import '../shared/styles/base.css';
@import '../shared/styles/grid.css';
@import '../shared/styles/typography.css';

.root {
  position: relative;
  overflow: hidden;
  padding: 14rem 0;
}

.root:before,
.root:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 50%;

  /* hide by default */
  display: none;
}

.root:before { left: 0; }
.root:after { right: 0; }

.dark:before { background-color: var(--color-dark); }
.dark:after { background-color: var(--color-black); }

.light:before { background-color: var(--color-yellow); }
.light:after { background-color: var(--color-orange); }


@media (--wide-viewport) {
  .root:before,
  .root:after {
    display: block;
  }
}



.dark .item:nth-child(1) { background-color: var(--color-dark); }
.dark .item:nth-child(2) { background-color: var(--color-black); }

.light .item:nth-child(1) { background-color: var(--color-yellow); }
.light .item:nth-child(2) { background-color: var(--color-orange); }


/*.item {
  padding: 12rem 6rem;
}*/

.item {
  composes: col;
  composes: md5;
}

/*
Ideal solution would be to compose a class from grid.css
which floats right.
But it doesnt work because the target is a pseudo selector

composes: right;
 */
.item:last-child { float: right; }

@media (--wide-viewport) {
  .item {
    position: relative;
    z-index: 2;
  }
}

/*
Refactor to content inside
splitscreen can be different
 */
.title {
  composes: m;
  composes: label;
}
