/**
 * Split screen styles
 */

@import '../shared/styles/base.css';

.root {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.root:before,
.root:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 50%;

  /* hide by default */
  display: none;
}

.root:before { left: 0; }
.root:after { right: 0; }

.dark:before { background-color: var(--color-dark); }
.dark:after { background-color: var(--color-black); }

.light:before { background-color: var(--color-yellow); }
.light:after { background-color: var(--color-orange); }


@media (--wide-viewport) {
  .root:before,
  .root:after {
    display: block;
  }
}

.item {
  padding: 12rem 6rem;
}

.dark .item:nth-child(1) { background-color: var(--color-dark); }
.dark .item:nth-child(2) { background-color: var(--color-black); }

.light .item:nth-child(1) { background-color: var(--color-yellow); }
.light .item:nth-child(2) { background-color: var(--color-orange); }


@media (--wide-viewport) {
  .item {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
  }

  .item:nth-child(1) { padding-left: 0; }
  .item:nth-child(2) { padding-right: 0; }
}
