/**
 * Base styles
 */
:root {
  --color-background: #fff;
  --color-text: #333;
  --color-black: #1a1a1a;
  --color-dark: #232321;
  --color-yellow: #ffb91e;
  --color-blue: #86abff;
  --color-orange: #f4834f;

  --size-xs: 0.618rem;
  --size-s: 1.618rem;
  --size-m: 2.618rem;
  --size-l: 4.236rem;
  --size-xl: 6.854rem;
}

@custom-media --small-viewport (min-width: 480px);
@custom-media --wide-viewport (min-width: 960px);
@custom-media --huge-viewport (min-width: 1200px);
