/**
 * Shared styles
 *
 * Typography
 */

 .xs {
  font-size: 0.618rem;
  line-height: 1rem;
}

.s {
  font-size: 1.618rem;
  line-height: 2rem;
}

.m {
  font-size: 1.618rem;
  line-height: 2rem;
}

.l {
  font-size: 2.618rem;
  line-height: 3rem;
}

.xl {
  font-size: 4.236rem;
  line-height: 4rem;
}


@media screen and (min-width: 768px) {
  .xs {
    font-size: 0.618rem;
    line-height: 1rem;
  }

  .s {
    font-size: 1.618rem;
    line-height: 2rem;
  }

  .m {
    font-size: 2.618rem;
    line-height: 3rem;
  }

  .l {
    font-size: 4.236rem;
    line-height: 4rem;
  }

  .xl {
    font-size: 6.854rem;
    line-height: 7rem;
  }
}
