/**
 * Contact styles
 */

@import '../../styles/base';

.Contact {
  padding: 12rem 0;
  text-align: center;
}

.Contact h3 {
  font-size: var(--size-l);
}

.Contact a {
  display: inline-block;
  font-size: var(--size-m);
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  padding: 1.5rem 3rem;
  margin: 1.6rem 1.6rem;
  border-radius: 5px;
  text-decoration: none;
}
