/**
 * Header styles
 */

@import '../shared/styles/base.css';

.root {
  background: var(--color-black);
  padding: 14rem 0;
  text-align: center;
  color: #fff;
}

.root h2 {
  max-width: 36rem;
  margin: 2rem auto 0;
}

.logo path {
  fill: #fff;
}
