/**
 * Header styles
 */

@import '../../styles/base';

.Header {
  background: var(--color-black);
  padding: 14rem 0;
  text-align: center;
  color: #fff;
}

.Header h2 {
  max-width: 36rem;
  margin: 2rem auto 0;
}

.Header-logo path {
  fill: #fff;
}
