/**
 * Principles styles
 */

@import '../shared/styles/base.css';
@import '../shared/styles/grid.css';
@import '../shared/styles/typography.css';

.root {
  padding: 0 0 14rem;
}

.list {
  list-style: none;
  overflow: hidden;
}

.item {
  text-align: center;
  padding: 0 1.5rem;

  composes: col;
  composes: md6;
  composes: lg3;
}

.title {
  composes: xs;
  composes: label;
}
