/**
 * App styles
 */

@import 'components/shared/styles/base.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Baskerville', 'Helvetica Neue', arial, sans-serif;
  line-height: 1.45;

  /*padding: 0 5%;*/

  /* change to variables */
  font-size: var(--size-s);
  line-height: 2.4rem;
  color: var(--color-text);
}

@media (--medium-viewport) {
  body {
    font-size: var(--size-lg-s);
    line-height: 2.4rem;
  }
}


h1, h2, h3, h4, h5 {
  font-family: 'brandon-grotesque', 'Helvetica Neue', arial, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: var(--size-m);
}

h2, h3 {
  font-size: var(--size-s);
}

:global .container {
  margin: 0 auto;
  max-width: 96rem;
  box-sizing: content-box;
  padding: 0 5%;
}

:global .container:before,
:global .container:after {
  content: " ";
  display: table;
}

:global .container:after { clear: both; }
